/* Google Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
/* Rest CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
/* Common CSS */
body {
  background-color: #0ada6e;
  font-family: 'Lato', sans-serif;
  color: #666;
}
#wrap {
  width: 45rem;  /* 1rem = 16px, 45rem = 720px */
  border-radius: 0.5rem;  /* 0.5rem = 8px */
  padding: 1rem;
  margin: 2rem auto;
  
  background-color: #f0edf4;
}
h1 {
  text-align: center;
  margin: 1rem auto;
  font-weight: 300;
}
/* #todo-form */
#todo-form {
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
}
#todo-form input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0;
  font-weight: 300;
}
#todo-form [type="text"] {
  width: 36rem;  /* 36rem = 576px */
  margin-right: 1rem;
  float: left;
  color: #999;
}
#todo-form [type="submit"] {
  width: 6rem;  /* 6rem = 96px */
  background-color: red;
  color: #fff;
}
.todo-item {
  padding: 5px 0;
}
.todo-checkbox {
  cursor: pointer;
}
.todo-remove {
  display: none;
  cursor: pointer;
  float: right;
  color: grey;
}
.todo-item:hover .todo-remove {
  display: inline;
} 